python-dotenv
pandas
numpy
ipykernel
jupyter
matplotlib
seaborn
scikit-learn
tqdm
librosa
soundfile
resampy
torch
torchvision
torchaudio
timm                
torchcodec          
panns-inference     
torch-vggish-yamnet 
mlflow<2.17.0
dagshub
Pillow
opensmile
xgboost
imbalanced-learn
optuna
transformers
fastapi
uvicorn
python-multipart
jinja2
starlette

#-e .